$pri: rgb(255, 0, 119);

$pri-light: rgb(255, 207, 229);
$pri-light-hover: rgb(255, 227, 240);
$pri-light-active: rgb(253, 199, 224);

$white: white;
$white-hover: rgb(235, 235, 235);
$white-active: rgb(212, 212, 212);
